.img {
    width: 250px;
    border-radius: 10rem;
}

.contendorProductos {
    display: grid;
    grid-template-rows: 250px 50px 40px 35px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 280px;
    height: 400px;
    background-color: rgb(152, 228, 186);
    margin-bottom: 2rem;
    border-radius: 8rem;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}

@-webkit-keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
    }
@keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
    }