.NavBar-contenedor {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    text-decoration: none;
    align-items: center;
}

.NavBar-menu {
    text-decoration: none;
    color: white;
}

.NavBar {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    list-style: none;
}

.carritoNavBar {
    text-decoration: none;
}